* {
	-webkit-box-sizing: border-box;
				 box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
}

a {
 color:#fff;
 padding:20px;
 display:block;
 text-decoration: none;
}


.header {
	width:100%;
	height:100px;
	background:-webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
}

.logo{
	width:100px;
	border:none;
}

.shacity{
	width:100%;
}

.nav {
  list-style: none;
  display: flex;
}

.hiddenMenu{
	display: none;
  text-decoration: none;
}

.btn-off{
	display: none;
}



section {
	padding:20px;
}

div{
	padding:20%;
}

@media screen and (max-width:780px ) {
		.header{
			position:relative;
			display:flex;
		}

	.hiddenMenu{
		position:absolute;
		right: 0;
		top:100px;
	}

	.active{
		display: flex;
		animation: show 2s;
	}
.hide{
	background-color: rgba(174,163,255,1);
	width: 40vh;
	text-align: center;
	}

	a {
	 color:#fff;
	 padding:20px;
	 border: 1px solid gold;
	 display:block;
	 text-decoration: none;
	}
	.hiddenList{
		list-style: none;
		margin:0;
	}
		.nav {
	   display: none;
	  }

	.btn-off{
				display: flex;
				background:none;
				border:none;
			}
 .shacity{
	 padding: 0px;
	 border:none;

 }
}

 @keyframes show {
	 0%{
		 opacity: 0;
	 }
	 100%{
		 opacity: 1;
	 }

 }
